<h1>イベント一覧</h1>
<%= link_to button_tag("新規作成", :class => "btn btn-danger"), new_event_path %>


<div style="margin-top:30px;" class="row">
  <div class="span9">
  <ul class="thumbnails" style="list-style:none">
     
      <% @events.each do |event| %> 
      <li class="span4">
      <a href="#" class="thumbnail"><%= image_tag("atnd.png") %></a>    
        <div class="caption"> 
          <h5><%= event.title %></h5>
          <p><%= truncate(event.body, length: 18) %></p>
          <p><%= event.date %></p>
          <p><%= event.place %></p>
          <p><%= event.url %></p>

          <p><%= link_to button_tag("Show", :class => "btn"), event %>
          <% if current_user %>
          <%= link_to button_tag("Edit", :class => "btn"), edit_event_path(event) %>
          <%= link_to button_tag("Delete", :class => "btn"), event, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          <% end %>
        </div>
      </li>
      <% end %>
    
  </ul>
  </div>
  <div class="span4">
  </div>
</div>
<br>


