<h1>イベント一覧</h1>
<%= link_to button_tag("新規作成", :class => "btn-custom"), new_event_path %>

<div style="margin-top:30px;" class="row">
  <div class="span9">
  <ul class="thumbnails" style="list-style:none">
     
      <% @events.each do |event| %> 
      <li class="span4">
      <a href="#" class="thumbnail"><%= image_tag("atnd.png") %></a>     
          <%= event.title %>
          <%= event.body %>
          <%= event.date %>
          <%= event.place %>
          <%= event.url %>

          <%= link_to 'Show', event %>
          <%= link_to 'Edit', edit_event_path(event) %>
          <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>
      <% end %>
    
  </ul>
  </div>
  <div class="span4">
  </div>
</div>
<br>


