<p id="notice"><%= notice %></p>

<div class="well sidebar-nav" style="float:right;">
  <ul class="nav nav-list">
    <li class="nav-header">参加者</li>

    <% @event.users.each do |attend| %>
      <li><%= attend.name %></li>
    <% end %>
  </ul>
</div><!--/.well -->

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @event.body %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Place:</strong>
  <%= @event.place %>
</p>

<p>
  <strong>Url:</strong>
  <%= @event.url %>
</p>

<p>
  <strong>User:</strong>
  <%= User.find(@event.user_id).name %>
</p>

<%= form_for @attend_user, url: attend_user_path(current_user.id), method: :patch do |f| %>
  <div class="field" style="display:none;">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id, value: current_user.id %>
  </div>
  <div class="field" style="display:none;">
    <%= f.label :event_id %><br>
    <%= f.number_field :event_id, value: @event.id %>
  </div>
  <div class="field" style="display:none;">
    <%= f.label :status %><br>
    <% if AttendUser.find_by(user_id: current_user.id, event_id: @event.id).status == 1 %>
     <%= f.number_field :status, value: 0 %>
    <% else %>
      <%= f.number_field :status, value: 1 %>
    <% end %>
  </div>
  <div class="actions">
  <% if AttendUser.find_by(user_id: current_user.id, event_id: @event.id).status == 1 %>
    <%= f.submit "キャンセル" %>
  <% else %>
    <%= f.submit "参加する" %>
  <% end %>
  </div>
<% end %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
