

<div class="well sidebar-nav container" style="float:right; width:200px;">
  <ul class="nav nav-list width:240px;">
    <li class="nav-header">参加者</li>

    <% @event.users.each do |attend| %>
      <li><%= attend.name %></li>
      <%= AttendUser.find_by(user_id: attend.id, event_id: @event.id).comment %>
      <hr>
    <% end %>
  </ul>
</div><!--/.well -->

<div class="span8">
<p>
  <h2><%= @event.title %></h2>
  
</p>
<hr>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>場所</strong>
  <%= @event.place %>
</p>

<p>
  <strong>Url:</strong>
  <%= @event.url %>
</p>

<p>
  <strong>管理者:</strong>
  <%= User.find(@event.user_id).name %>
</p>
<hr>
<p>
  <h6>詳細</h6>
  <%= @event.body %>
</p>
<hr>
<div>

<%= form_for @attend_user, url: attend_user_path(current_user.id), method: :patch do |f| %>
  <div class="field" style="display:none;">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id, value: current_user.id %>
  </div>
  <div class="field" style="display:none;">
    <%= f.label :event_id %><br>
    <%= f.number_field :event_id, value: @event.id %>
  </div>
  <div class="field" style="display:none;">
    <%= f.label :status %><br>
    <% if AttendUser.find_by(user_id: current_user.id, event_id: @event.id)  %>
     <%= f.number_field :status, value: 0 %>
    <% else %>
      <%= f.number_field :status, value: 1 %>
    <% end %>
  </div>

  <div class="actions">

  </div>
<% end %>

<% if @event.user_id == current_user.id %>
<%= link_to button_tag("編集", :class => "btn"), edit_event_path(@event) %> 
<% end %>
<%= link_to button_tag("戻る", :class => "btn"), events_path %>
<!--  < link_to '参加する', new_attend_user_path(event_id: @event.id) %>  -->
<% if AttendUser.find_by(user_id: current_user.id, event_id: @event.id) %>
  <%= link_to button_tag("キャンセル", :class => "btn-danger"), edit_attend_user_path(AttendUser.find_by(user_id: current_user.id, event_id: @event.id).id, event_id: @event.id), method: :get %>
<% else %>
  <%= link_to button_tag("参加", :class => "btn-danger"), new_attend_user_path(event_id: @event.id) %>
<% end %>
<br><hr>

<h4>コメント</h4>
<% @event.comments.each do |comment| %>
  <p><strong><%= User.find(comment.user_id).name %></strong>：　<%= comment.body %></p>
  <hr>
<% end %> 

<%= form_for(@comment, event_id: @event.id) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field" style="display:none;">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id, value: current_user.id %>
  </div>
  <div class="field" style="display:none;">
    <%= f.label :event_id %><br>
    <%= f.number_field :event_id, value: @event.id %>
  </div>
  <div class="actions">
    <%= f.submit(class: "btn btn-primary") %>
  </div>
<% end %>

