<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @attend_user.user_id %>
</p>

<p>
  <strong>Event:</strong>
  <%= @attend_user.event_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @attend_user.status %>
</p>

<%= link_to 'Edit', edit_attend_user_path(@attend_user) %> |
<%= link_to 'Back', attend_users_path %>
